.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Products {
  display: flex;
  flex-flow: row;
  margin-top:30px;
}

.Product {
  display: flex;
  flex-flow: column;
}

img.productShot {
  width: 200px;
}



